@tailwind base;
@tailwind components;
@tailwind utilities;

/* nextjs-portal {
  display: none;
} */

#categories{
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}

#categories::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
